<!-- about_us.html -->
{% extends "layout.html" %}

{% block title %}WikiStack - About Us{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>ADD A PAGE</h1>
    </div>

    <form role="form">
      <div class="form-group">
        <label>PAGE TITLE</label>
        <input type="" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label>PAGE CONTENT</label>
        <textarea class="form-control" rows="12"></textarea>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}